<section>
  <div class="movie-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= @movie.backdrop_path %>)">
    <%= image_tag @movie.poster_path, alt: "#{@movie.title} poster image", class: 'movie-banner__poster__image' %>
    <div class="movie-banner__content">
      <h1><%= @movie.title %></h1>
      <div class="genres">
        <ul class="list-inline">
          <li class="list-inline-item px-1 border"><strong>Acao</strong></li>
          <li class="list-inline-item px-1 border"><strong>Aventura</strong></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="mt-5">
  <div class="my-container">
    <h2>Sessions</h2>
    <div class="sessions-calendar d-flex">
      <% @days_from_today.each do |date| %>
        <div class="session-calendar__day p-2 border text-center">
          <p class='mb-1'><strong><%= date.strftime('%^a') %></strong></p>
          <p class='mb-1'><%= date.strftime('%e/%d') %></p>
        </div>
      <% end %>
    </div>
    <div class="exibithions">
      <% @movie.exibithions.each do |session| %>
        <div class="exibithion-card p2">
          <div class="exibithion-card__header row">
            <div class="col-xs-12 col-md-8 col-lg-6 d-flex align-items-start">
              <%= icon('far', 'heart') %>
              <div class="exibition-card__header--room">
                <p><%= session.teather_name %></p>
                <p><%= session.room.teather.address %></p>
              </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-6 d-flex justify-content-around align-items-center">
              <%= link_to "#" do %>
                <%= icon('fas', 'plus') %> Details
              <% end %>
              <p><%= icon('fas', 'mobile-screen') %> Contactless entrance</p>
            </div>
          </div>
          <div class="exibithion-card__content">
            <p>Room <%= session.room.id %></p>
            <%= link_to "#", class: 'btn-buy-session' do %>
              <%= session.start_time.strftime('%H:%M') %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<%= link_to :back, movies_path %>
